<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Projects | Sawyer Rockey</title>
  <meta name="description" content="Games, builds, and design work by Sawyer Rockey.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../resources/css/styles.css">
</head>
<body>

  <header class="navbar-dark">
    <div class="page-title-bar">
      <h1>Projects</h1>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
              data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <nav class="collapse d-lg-flex flex-column" id="mainNav" aria-label="Main">
      <ul class="navbar-nav flex-column">
        <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="hobbies.html">Hobbies</a></li>
        <li class="nav-item"><a class="nav-link" href="projects.html" aria-current="page">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="resume.html">Resume</a></li>
      </ul>

      <img src="../resources/img/smile.png" alt="A little smiley face" class="nav-smile mt-auto"
           width="100" height="100">
    </nav>
  </header>

  <main>
    <div class="container-fluid">
    <section aria-labelledby="projects-heading">
      <h2 id="projects-heading">Selected work</h2>

      <!-- same grid pattern as hobbies.html: 1/2/3 per row depending
           on screen size -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <!-- PROJECT: Something Creative Here -->
        <div class="col">
          <article class="project h-100">
            <img src="../resources/img/project-one.png" class="img-fluid"
                 alt="image of my DAW, the barebones song structure."
                 width="400" height="250">
            <div class="card-body">
              <h3 class="card-title">Day of Vengeance</h3>
              <p class="card-text"><time datetime="2026">Spring of 2026</time></p>

              <p class="card-text">
                Day of Vengeance is a song I wrote and composed for my band, The Trace. The rendition below is the chords and melody played in piano.
              </p>

              <h4>Built with</h4>
              <ul>
                <li>Waveform 13, and a vague understanding of music theory</li>
              </ul>

              <p>
                <a class="button" href="https://drive.google.com/file/d/1BaoWwJxq9ajg1zjiAgAqXwHfxm3Dd_7w/view?usp=sharing" role="button">Listen to the Piano Rendition!</a>
              </p>
            </div>
          </article>
        </div>

        <!-- PROJECT 2: The Squeakquel -->
        <div class="col">
          <article class="project h-100">
            <img src="../resources/img/project-two.png" class="img-fluid"
                 alt="Pandamonyaa Red Panda Icon"
                 width="400" height="250">
            <div class="card-body">
              <h3 class="card-title">Pandamonyaa Logo</h3>
              <p class="card-text"><time datetime="2024">2024, probably</time></p>

              <p class="card-text">
                This is the current logo of my online identity, Pandamonyaa. Made by me, a few years ago, in a free program, similar to Adobe Illustrator. It is a simplistic design of a red panda, meant to be cute, and understandable in design even when small.
              </p>

              <h4>Built with</h4>
              <ul>
                <li>Inkscape, and an unhealthy obsession with Red Pandas... did you know there are actually TWO species of red pandas???</li>
              </ul>

              <p>
                <a class="button" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" role="button">Download the Image</a>
              </p>
            </div>
          </article>
        </div>

        <!-- PROJECT 3: Return of the Queen -->
        <div class="col">
          <article class="project h-100">
            <img src="../resources/img/project-three.png" class="img-fluid"
                 alt="Image of the Show Page for my YouTube Series"
                 width="400" height="250">
            <div class="card-body">
              <h3 class="card-title">Surviving Scrap Mechanic</h3>
              <p class="card-text"><time datetime="2026">2026</time></p>

              <p class="card-text">
                If I haven't mentioned it before, I do YouTube, video editing, and graphic design as a personal, freelance hobby, that pays shockingly little. My latest and current project is a Survival Series focused on the game Scrap Mechanic, and its new 1.0 Survival Release, as well as an accompanying, more heavily edited and narrated 100 Days series that is much more cut down, and story-driven than it's serialized counterpart.
              </p>

              <h4>Built with</h4>
              <ul>
                <li>Davinci Resolve</li>
                <li>Affinity Photo 2</li>
                <li>Various Creative Games, and Jokes of Varying Quality</li>
              </ul>

              <p>
                <a class="button" href="https://youtube.com/@pandamonyaa?sub_confirmation=1" role="button">Check it out</a>
              </p>
            </div>
          </article>
        </div>

      </div>
    </section>
    </div>
  </main>

  <footer>
    <p class="mb-0">&copy; 2026 Sawyer Rockey</p>
    <p><a href="mailto:saro9194@colorado.edu">saro9194@colorado.edu</a></p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
